body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: whitesmoke;
}

.nav_links{
    display: flex;
    justify-content: space-around;
    background-color: azure;
    font-size: 1.25em;
    text-decoration: none;
    border-bottom: solid navy;
    color: navy;
    font-family: 'Spectral', serif;

}

.nav_links li{
    display: flex;
    justify-content: space-around;
    /* background-size: 10px; */
    text-decoration: none;
    text-align: center;
    /* padding-left: 2px;
    padding-right: 2px; */
}

a:link{
    text-decoration: none;
}

a:visited{
    color:navy;
}

header{
    background-color: azure;
}

.skip{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  
    /* Requirement 3a code here*/
    position: absolute;
    top: -40px;
}
.skip:focus{
    top: 0px;
}

h1.title{
    text-align: center;
    font-size: 3.5em;
    background-color: azure;
    padding-bottom: 10px;
    font-family: 'Spectral SC', serif;
}

#intro_image1, #intro_image2, #intro_image3{
    height: 400px;
    border: solid navy;
    padding: 10px;
    margin: 20px;  
} 

li:hover{
    opacity: 0.5;
}


.intro_image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


footer{
    padding: 20px;
    background-color: azure;
    margin-top: 50px;
    text-align: center;
    border-top: solid navy;
    
}

#about_image{
    display: flex;
    max-height: 200px;
    max-width: 200px;
    border: solid navy;
    padding: 10px;
    margin: 20px;  
    align-content: flex-end;
}

.about_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr, 1fr;
}

.about_content p{
    text-align: center;
}

#current{
    background-color: navy;
    color: white;
}

.MMScover h1{
    text-align: center;
}

.mms_images{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.omc_images{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#omc_image1, #omc_image2, #omc_image3, #omc_image4, #omc_image5, #omc_image6, #omc_image7, #omc_image8, #omc_image9{
    display: flex;
    width: 400px;
    height: 400px;
    border: solid navy;
    padding: 10px;
    margin: 20px;  
}

#mms_image1, #mms_image2, #mms_image3, #mms_image4, #mms_image5, #mms_image6, #mms_image7, #mms_image8, #mms_image9{
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    height: 400px;
    width: 400px;
    border: solid navy;
    padding: 10px;
    margin: 20px;  
}

.images_description p{
    text-align: center;
}

.sustainability p{
    text-align: center;
    padding: 10px;
}

p{
    font-family: 'Spectral', serif;
}

h1{
    text-align: center;
    font-size: 2em;
    padding: 20px;
    font-family: 'Spectral', serif;
}

